include esquire/vars.pug
include esquire/logo.pug
include esquire/order_header.pug
include esquire/order.pug
include esquire/order_link_tel.pug
include esquire/banner.pug
include esquire/button.pug
include esquire/header.pug
include esquire/map.pug
include esquire/nav.pug
include esquire/footer.pug

doctype strict
html(xmlns="http://www.w3.org/1999/xhtml")
	head
		meta(http-equiv="X-UA-Compatible",content="IE=edge")
		meta(http-equiv="Content-Type",content="text/html; charset=utf-8")
		meta(name="viewport",content="width=device-width, initial-scale=1.0")
		style
			include ../../temp/css/esquire.css
		title= title

	body.body
		table.layout-wrap
			tr.layout-wrap__tr
				td.layout-wrap__td(align='center', valign='middle')
					table.layout
						//+logo(logo_link, logo_img)
						+banner(banner_text)

						+header

						//+map
						
						+order_header('Заголовок')
						+order('')
						+order_link_tel
						
						//+button(button_link, button_text)

						+nav

						+footer
