mixin button(button_link,button_text)
	tr.layout__tr
		td.layout__td(align='center', valign='top')
			table.button
				tr.button__tr
					td.button__td(align='center',valign='top')
						a.button__link(href= button_link) !{button_text}