mixin item(item_class, item_img, item_rubrik, item_text, item_link, item_link_rubrik)
	tr.layout__tr
		td.layout__td(align='left', valign='top')
			table.item(class= item_class)
				tr.item__tr
					td.item__td_left(align='left',valign='top')
						a.item__link_img(href= item_link)
							img.item__img(src= item_img, width="160")
					td.item__td_right
						p.item__p.item__p_rubrik: a.item__link.item__link_rubrik(href= item_link_rubrik) !{item_rubrik}
						p.item__p.item__p_title: a.item__link(href= item_link).item__link_title !{item_text}
