- var title = 'Популярная механика';

- var logo_link = 'http://www.popmech.ru/technologies/?utm_content=logo'
- var logo_img = 'http://start.ru/uploads/popmech/pm-logo-daily-black-2.png';

- var item_img_1 = 'http://start.ru/uploads/popmech/pm-ed-20161226-img_1.jpg';
- var item_img_2 = 'http://start.ru/uploads/popmech/pm-ed-20161226-img_2.jpg';
- var item_img_3 = 'http://start.ru/uploads/popmech/pm-ed-20161226-img_3.jpg';
- var item_img_4 = 'http://start.ru/uploads/popmech/pm-ed-20161226-img_4.jpg';
- var item_img_5 = 'http://start.ru/uploads/popmech/pm-ed-20161226-img_5.jpg';

- var item_link_1 = 'http://www.popmech.ru/science/231972-10-samykh-krasivykh-paukov-mira/?utm_content=img_1';
- var item_link_2 = 'http://www.popmech.ru/history/308412-naydena-naskalnaya-rozhdestvenskaya-otkrytka-vozrastom-5000-let/?utm_content=img_2';
- var item_link_3 = 'http://www.popmech.ru/adrenalin/308012-ekstremaly-ustroili-beysdzhamping-v-chernobyle/?utm_content=img_3';
- var item_link_4 = 'http://www.popmech.ru/vehicles/308382-umeltsy-perelopatili-staryy-dvizhok-chrysler/?utm_content=img_4';
- var item_link_5 = 'http://www.popmech.ru/vehicles/165001-samye-krasivye-avtomobili-voisin/?utm_content=img_5';

- var item_link_rubrik_1 = 'http://www.popmech.ru/science/?utm_content=category_1';
- var item_link_rubrik_2 = 'http://www.popmech.ru/history/?utm_content=category_2';
- var item_link_rubrik_3 = 'http://www.popmech.ru/adrenalin/?utm_content=category_3';
- var item_link_rubrik_4 = 'http://www.popmech.ru/vehicles/?utm_content=category_4';
- var item_link_rubrik_5 = 'http://www.popmech.ru/vehicles/?utm_content=category_5';

- var item_text_1 = '10 самых красивых пауков мира';
- var item_text_2 = 'Найдена наскальная «рождественнаская открытка»  возрастом 5000 лет';
- var item_text_3 = 'Экстремалы устроили бейсджампинг в Чернобыле';
- var item_text_4 = 'Умельцы перелопатили старый движок Chrysler';
- var item_text_5 = 'Самые красивые автомобили: Voisin';

- var item_rubrik_1 = 'Наука';
- var item_rubrik_2 = 'История';
- var item_rubrik_3 = 'Адреналин';
- var item_rubrik_4 = 'Автомобили';
- var item_rubrik_5 = 'Автомобили';

- var banner_link = 'http://premium-publishing.ru/popmech/?utm_content=ed-adv-580x90';
- var banner_img = 'http://start.ru/uploads/popmech/pm-ed-adv-print-1612-.jpg';

//- var button_link = '#21';
//- var button_text = 'Кнопка куда то';

- var footer_text = '<p>«<a href="http://www.popmech.ru/?utm_content=footer">Популярная механика</a>» специально для <a href="mailto:{email}">{email}</a>. <a href="{unsubscribe}" target="_blank" title="Отписаться">Отписаться.</a></p><p>Будьте с нами на связи в <a href="http://vk.com/popularmechanics">Vkontakte</a>, <a href="http://www.facebook.com/PopMechanics">Facebook</a>, <a href="http://twitter.com/PopMechanica">Twitter</a>, <a href="http://ok.ru/popmech">Ok.ru</a>, <a href="http://instagram.com/popmech.ru">Instagram</a>.</p><p>&copy; ООО «Фэшн Пресс», 127018, Москва, ул. Полковая, д. 3, стр. 1.</p>'