mixin banner(banner_text)
	tr.layout__tr.layout__tr_banner
		td.layout__td(align='center', valign='top')
			table.banner
				tr.banner__tr
					td.banner__td(align='center',valign='top')
						h3.banner_heading #{banner_text}
						
