mixin footer
	tr.layout__tr
		td.layout__td
			table.footer
				tr.footer__tr
					td.footer__td
						p.footer__content Отчет составлен организацией Nowtaxi
						p.footer__content &copy; 2017 Nowtaxi. All Rights Reserved
