mixin nav
	tr.layout__tr.layout__tr_nav
		td.layout__td(align='center', valign='middle')
			table.nav
				tr.nav__tr
					td.nav__td(align='center',valign='middle')
						ul.nav_menu
							li.nav__item
								a(href="#") На сайт
							li.nav__item
								a(href="#") Отписаться
							li.nav__item
								a(href="#") Тарифы
						