mixin nav
	tr.layout__tr.layout__tr_nav
		td.layout__td
			table.nav
				tr.nav__tr
					td.nav__td
						ul.nav__menu
							li.nav__item
								a(href="https://www.nowtaxi.ru/" target="_blank") На сайт
							li.nav__item
								a(href="#" target="_blank") Отписаться
							li.nav__item
								a(href="#" target="_blank") Тарифы
						