mixin order_header(order_header_text)
	tr.layout__tr.layout__tr_order_header
		td.layout__td
			table.order_header
				tr.order_header__tr
					td.order_header__td(colspan="100%") !{order_header_text}
						