mixin order_link_tel
	tr.layout__tr.layout__tr_order_link_tel
		td.layout__td
			table.order_link_tel
				tr.order_link_tel__tr
					td.order_link_tel__td.order_link_tel__td_left
						p.order_link_tel__content.title Номер
					td.order_link_tel__td.order_link_tel__td_right
						p.order_link_tel__content.value
							a(href="tel:+7925111333777") +7925111333777
