mixin order(order_class)
	tr.layout__tr.layout__tr_order
		td.layout__td
			table.order(class= order_class)
				tr.order__tr
					td.order__td.order__td_left
						p.order__content.title Откуда
					td.order__td.order__td_right
						p.order__content.value Россия, Москва, Малый Тишинский переулок, 19
