- var title = "Esquire Email";

- var logo_link = '#31'
- var logo_img = 'https://media.esquire.ru/static/images/esquire-logo.png';

- var item_img_1 = 'https://pbs.twimg.com/profile_images/459026126304575488/iYg01R9d_400x400.jpeg';
- var item_img_2 = 'http://news-front.info/wp-content/uploads/2016/06/medved.jpeg';
- var item_img_3 = 'https://pbs.twimg.com/profile_images/1805917516/facepalm_white_bear_400x400.jpg';
- var item_img_4 = 'http://crosti.ru/patterns/00/04/a7/8ac83b79be/picture.jpg';
- var item_img_5 = 'https://thumbs.dreamstime.com/x/%D1%81%D0%BC%D0%B5%D1%88%D0%BD%D0%BE%D0%B9-%D0%B1%D0%BE-%D1%8C%D0%BD%D0%BE%D0%B9-%D0%BC%D0%B5-%D0%B2%D0%B5-%D1%8C-31702085.jpg';

- var item_link_1 = '#';
- var item_link_2 = '#';
- var item_link_3 = '#';
- var item_link_4 = '#';
- var item_link_5 = '#';

- var item_link_rubrik_1 = '#';
- var item_link_rubrik_2 = '#';
- var item_link_rubrik_3 = '#';
- var item_link_rubrik_4 = '#';
- var item_link_rubrik_5 = '#';

- var item_text_1 = 'Кем бы сегодня закусить?';
- var item_text_2 = 'О! Сфоткай меня, будто я человеко-медведь и в свитере';
- var item_text_3 = '(c) Лавров';
- var item_text_4 = 'Ааа! Есть снег! Ловить ртом! Маша без шубы, простудится, но медведь в шубе... к чему бы это?';
- var item_text_5 = 'Чупа-чупс - сосать не пересосать';

- var item_rubrik_1 = 'Работа';
- var item_rubrik_2 = 'Дом';
- var item_rubrik_3 = 'Институт';
- var item_rubrik_4 = 'Школа';
- var item_rubrik_5 = 'Ясли';

- var banner_link = '#';
- var banner_img = 'http://start.ru/uploads/popmech/pm-ed-adv-print-1612-.jpg';

- var button_link = '#';
- var button_text = 'Кнопка куда то';


- var banner_text = 'Спасибо, что выбрали нашу компанию!';
- var footer_link = '#';
- var unsubscribe = '#';

- var footer_text = '<p>«<a href="http://www.popmech.ru/?utm_content=footer">Популярная механика</a>» специально для <a href="#{footer_link}">{email}</a>. <a href="{unsubscribe}" target="_blank" title="Отписаться">Отписаться.</a></p><p>Будьте с нами на связи в <a href="http://vk.com/popularmechanics">Vkontakte</a>, <a href="http://www.facebook.com/PopMechanics">Facebook</a>, <a href="http://twitter.com/PopMechanica">Twitter</a>, <a href="http://ok.ru/popmech">Ok.ru</a>, <a href="http://instagram.com/popmech.ru">Instagram</a>.</p><p>&copy; ООО «Фэшн Пресс», 127018, Москва, ул. Полковая, д. 3, стр. 1.</p>'



