.nav {

	.nav__menu {
		display: inline-block;
		Margin: 20px auto;
		margin: 20px auto;
	}
	.nav__item {
		float: left;
		
		a {
			color: #7f8c8d;
		}
		&:not(firrst-child) {
			margin-left: 20px;
		}
	}
}